.main_page{
  background: f9f9f9;
  padding-top: 5px;
}
.into_page{
       margin: auto;
       padding: 50px 50px 5px 50px;
       width: 1060px;
       height: 950px;
       background: rgb(255, 255, 255);
       line-height:22px;
      /*тень*/
      -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.75);
      box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.75);
      }

/*заголовок*/
.header{
    padding-bottom: 50px;
    font-size: 40px;
    font-family: Calibri;
}

/*Главное меню*/
ul.css-menu-1 {
  list-style: none;
  font-size:0; /* убираем горизонтальные отступы */
  line-height:0; /* ...и вертикальные в некоторых браузерах */
  letter-spacing:-1px; /* переубеждаем webkit'ы */
}

ul.css-menu-1 li {
  font-size:14px; /* Не забываем восстановить нормальные значения */
  line-height:normal;
  letter-spacing:normal;
  display:inline;
}

ul.css-menu-1 li a {
  font-family: Tahoma, Geneva, sans-serif; 
  text-decoration: none;
  background: #595959;
  font-weight: normal;
  color: #ffffff;
  text-shadow: black 2px 0 2px;
  padding: 12px 90px 12px 90px;
}

ul.css-menu-1 li a:hover {
  padding: 12px 90px 12px 90px;
  font-weight: normal;
  background: #454545;
  color: #ffffff;
  border: 1px solid;
}

ul.css-menu-1 li a.selected {
  background: #363636;
  border: 1px solid; /* Параметры границы */
}

ul.css-menu-1 li .men1_last_li{
    padding-left: 45px;
    pointer-events: none;
}

.menu-1{
    padding-bottom: 40px;
}

/*Боковое (вертикальное) меню*/
   ul.css-menu-2 {
     width: 210px; /* Ширина меню */
     list-style: none; /* Для списка убираем маркеры */
     margin: 0; /* Нет отступов вокруг */
     padding: 0; /* Убираем поля вокруг текста */
     font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
     font-size: 9pt; /* Размер названий в пункте меню */
     float: left; /* Обтекание по правому краю */
   }
   ul.css-menu-2 li a {
     display: block; /* Ссылка как блочный элемент */
     padding: 5px 0 5px 20px; /* Поля вокруг надписи */
     text-decoration: none; /* Подчеркивание у ссылок убираем */
     color: #7f7d7d; /* Цвет текста */
     border: 1px solid #ccc;/* Рамка вокруг пунктов меню */
     background-color: #ffffff; /* Цвет фона */
     border-bottom: none; /* Границу снизу не проводим */
   }
   ul.css-menu-2 li a:hover {
     color: black; /* Цвет текста активного пункта */
     background-color: #f9f9f9; /* Цвет фона активного пункта */
     padding: 5px 0 5px 30px;
   }
   ul.css-menu-2 li a.selected-menu-2 {
     background: #f9f9f9;
     padding: 5px 0 5px 30px;
   }
   .brd {
     border-bottom: 1px solid #ccc; /* Линия снизу */
   }
   .menu-2{
     margin-right: 40px;
   }

/*Изображение*/
img {
    border: 1px solid #ccc;
   }

.image{
    padding-left: 250px;
    padding-bottom: 40px;
}
    
/*Текст*/
    .text{
    padding: 0px 50px 60px 300px;
    font-family: Calibri;
    }

/*Горизонтальное (нижнее) меню*/
ul.css-menu-3 {
  list-style: none;
  font-size:0; /* убираем горизонтальные отступы */
  line-height:0; /* ...и вертикальные в некоторых браузерах */
  letter-spacing:-1px; /* переубеждаем webkit'ы */
}

ul.css-menu-3 li {
  font-size:12px; /* Не забываем восстановить нормальные значения */
  line-height:normal;
  letter-spacing:normal;
  display:inline;
}

ul.css-menu-3 li a {
  font-family: Tahoma, Geneva, sans-serif; 
  text-decoration: none;
  background: #e1e1e1;
  font-weight: normal;
  color: #6c6c6c;
  padding: 15px 60px 15px 60px;
}

ul.css-menu-3 li a:hover {
  padding: 15px 60px 15px 60px;
  font-weight: normal;
  background: #e1e1e1;
  color: #2c2c2c;
  text-decoration: underline;
}

ul.css-menu-3 li a.selected {
  text-decoration: underline; /* Параметры границы */
}

ul.css-menu-3 a.unselected{
    padding: 15px 40px 15px 220px;
    pointer-events: none;
}