  .main_page {
      width: 1260px; height: 850px;
      padding-top: 8px;
      background: #e6e6e6;
      border-bottom: 5px solid;
       }
  .into_page {
       margin: auto;
       padding: 20px 50px 0px;
       width: 420px;
       height: 800px;
       background: rgb(255, 255, 255);
       line-height:22px;
      /*тень*/
      -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.75);
      box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.75);
      }
  .h2_text {
          text-align: center;
      }
  .image {
      	text-align: center;
    	float:bottom;
	margin: .5em 10px .5em 0;
	overflow:hidden;
	}
  .image img {
        margin:-0px -0px -80px;
	}